@font-face{
    font-family: 'League Spartan';
    src:url("../Assets/LeagueSpartan-Regular.ttf") format("trueType");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

body{
    height: 100vh;
    background-color: #FAF5EF;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap:32px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #69513C;
}

a:hover{
    color: #CCB89D;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: #EDE1D1;
}

nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
}

.logo{
    height: 30px;
}

.barMenu{
    height:20px;
    cursor: pointer;
    display: none;
}

nav.links{
    display: flex;
    gap: 2rem;
}


.action_btn{
    background-color: #c2a790;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 200px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 100%;
    margin:0 auto;
    padding: 3rem 2rem;
}

.container .title{
    margin-bottom: 3rem;
    text-align: center;
    color:#69513C;
}

.container .products-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2rem;
}

.container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    outline: 1px solid #ccc;
    outline-offset: -1.5rem;
    cursor:pointer;
}

.container .products-container .product:hover{
    outline: .1rem solid #222;
    outline-offset: 0;
}
.container .products-container .product img{
    height:15rem;
}

.container .products-container .product:hover img{
    transform: scale(.9);
}

.container .products-container .product h3{
    padding:10px 0;
    color:#69513C;
}

.container .products-container .product:hover h3{
    color:#c2a790;
}

.container .products-container .product .price{
    font-size: 1.5rem;
    color:#69513C;
}

.products-preview{
    position: fixed;
    top:0;
    left:0;
    min-height: 100vh;
    width:100%;
    background:rgba(0, 0, 0, .8);
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.products-preview .preview{
    display:none;
    padding:1.5rem;
    text-align: center;
    background: white;
    position:relative;
    margin:2rem;
}

.products-preview .preview.active{
    display:inline-block;
}

.products-preview .preview img{
    height:20rem;
}

.products-preview .preview .closeImg{
    position: absolute;
    top: 10px;
    right: 10px; 
    cursor: pointer;
    height:20px;
}

.products-preview .preview h3{
    color:#69513C;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;;
}

.products-preview .preview p{
    padding:1rem 0;
    font-size:1.5rem;
    color:#c2a790;
}

.products-preview .preview .price{
    padding:1rem 0;
    font-size: 2rem;
    color:#69513C;
}

footer {
    margin-top: 100px;
    background-color:#EDE1D1;
    color: #5B4636;
}

.logoFooter{
    width:200px;
    margin-top:20px;
}

.containerFooter{
    margin:auto;
    display: flex;
    justify-content: center;
}

.footerContent {
    margin:auto;
    padding:7px;
}

.footerContent h4 {
    margin-top:20px;
    margin-bottom: 20px;
    text-align:center;
}

.footerContent p {
    margin: 5px 0;
}

.shopee, .tokped {
    margin-right: 5px;
    width: 80px;
}

.footerBottom {
    text-align: center;
    padding: 10px 0;
    background-color: #D3C6AD;
    margin-top: 20px;
    margin: 0;
}

.contact-info div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}


.iconEmail, .iconPhone, .iconIg{
    vertical-align: middle;
    margin-right: 8px;
    width:28px;
    display:column;
}

@media screen and (max-width: 768px) {
    /* navigation bar */
    nav .links,
    nav .action_btn{
        display: none;
    }

    .barMenu{
        display: block;
    }

    .dropdown_menu{
        display: block;
        left: 2rem;
        width: unset;
    }

    /* products */
    .container .products-container{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .container .products-container .product img{
        height:120px;
    }

    .products-preview .preview img{
        height:150px;
    }

    .products-preview .preview h3{
        font-size: 1.5rem;
    }
    
    .products-preview .preview p{
        font-size:1rem;
    }
    
    .products-preview .preview .price{
        font-size: 1rem;
    }

    /* footer */
    .containerFooter {
        flex-direction: column;
        align-items: center;
    }

    .footerContent {
        text-align: center;
        flex: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        transform: scale(90%);
    }

    .footerContent h4, .footerContent p, .contact-info div {
        text-align: center;
        display: block;
    }

    .contact-info div {
        justify-content: center;
    }

    .contact-info div img {
        margin: 0 auto 8px auto;
    }
}