@font-face{
    font-family: 'League Spartan';
    src:url("../Assets/LeagueSpartan-Regular.ttf") format("trueType");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

body{
    height: 100vh;
    background-color: #FAF5EF;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap:32px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #69513C;
}

a:hover{
    color: #CCB89D;
}

header{
    position: relative;
    padding: 0 2rem;
    background-color: #EDE1D1;
}

nav{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
}

.logo{
    height: 30px;
}

.barMenu{
    height:20px;
    cursor: pointer;
    display: none;
}

nav.links{
    display: flex;
    gap: 2rem;
}

.action_btn{
    background-color: #c2a790;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 200px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonialsContent {
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonialsContent h1 {
    text-align: center;
    color:#69513C;
}

.testimonial {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color:#f0e7dbe1;
    border-radius: 10px;
}

.testimonial:hover{
    background-color: #EDE1D1;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial .text {
    flex: 1;
}

.testimonial h3 {
    margin: 0;
    color:#69513C;
}

.testimonial p {
    margin: 10px 0 0;
    color:#69513C;
}

.quote1{
    width:15%;
    float:left;
}

.quote2{
    width:15%;
    float:right;
}

footer {
    margin-top: 100px;
    background-color:#EDE1D1;
    color: #5B4636;
}

.logoFooter{
    width:200px;
    margin-top:20px;
}

.containerFooter{
    margin:auto;
    display: flex;
    justify-content: center;
}

.footerContent {
    margin:auto;
    padding:7px;
}

.footerContent h4 {
    margin-top:20px;
    margin-bottom: 20px;
    text-align:center;
}

.footerContent p {
    margin: 5px 0;
}

.shopee, .tokped {
    margin-right: 5px;
    width: 80px;
}

.footerBottom {
    text-align: center;
    padding: 10px 0;
    background-color: #D3C6AD;
    margin-top: 20px;
    margin: 0;
}

.contact-info div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}


.iconEmail, .iconPhone, .iconIg{
    vertical-align: middle;
    margin-right: 8px;
    width:28px;
    display:column;
}

@media screen and (max-width: 768px) {
    /* navigation bar */
    nav .links,
    nav .action_btn {
        display: none;
    }

    .barMenu {
        display: block;
    }

    .dropdown_menu {
        display: block;
        left: 2rem;
        width: unset;
    }

    /* content */
    .testimonialsContent {
        padding: 15px;
        margin: 20px;
    }

    .testimonial {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .testimonial img {
        margin-right: 0;
        margin-bottom: 15px;
        width: 60px;
        height: 60px;
    }

    .testimonialsContent h1{
        font-size: 30px;
        padding:25px;
    }

    .testimonial h3 {
        font-size: 1.2rem;
    }

    .testimonial p {
        font-size: 0.9rem;
    }

    /* footer */
    .containerFooter {
        flex-direction: column;
        align-items: center;
    }

    .footerContent {
        text-align: center;
        flex: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        transform: scale(90%);
    }

    .footerContent h4, .footerContent p, .contact-info div {
        text-align: center;
        display: block;
    }

    .contact-info div {
        justify-content: center;
    }

    .contact-info div img {
        margin: 0 auto 8px auto;
    }
}